@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    height: 100%;
    overflow: hidden;
}

body{
    max-height: 100%;
    overflow: hidden;
}
